{% load url from future %}{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% trans "FOI Reminder" %}{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

  <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
  <meta name="language" content="{{ LANGUAGE_CODE }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png"/>


  <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
  {% block extra_head %}
  {% endblock %}
</head>

<body>

  <div id="main" class="container">
    <div class="page-header">
      <div class="languages">
        <form action="/language/setlang/" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="/" />
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <button class="btn btn-mini {% if language.code == LANGUAGE_CODE %}btn-success{% endif %}" name="language" value="{{ language.code }}">
                {{ language.name_local }}
              </button>
            {% endfor %}
        </form>
      </div>
      <h1>
        <img id="logo" src="{{ STATIC_URL }}img/logo.png" alt="FOI Reminder"/>
        FOI Reminder <small>{% trans "Keep asking" %}</small>
      </h1>
    </div>
    {% if messages %}
    <div class="container">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

  {% block body %}
  {% endblock %}
  </div>

<hr/>
  <footer class="container" id="footer">
    <div class="row">
      <ul class="span12 unstyled pagination-centered">
        <li>{% trans "Made at IACC Hackathon 2012" %}</li>
        <li><a href="http://www.okfn.org/">Open Knowledge Foundation</a></li>
        <li>
          <a href="https://github.com/stefanw/foireminder">{% trans "Code on GitHub" %}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <p class="span12">
        <small class="muted">
          Logo built on <a href="http://thenounproject.com/noun/hand/#icon-No6095" target="_blank">Hand</a> designed by <a href="http://thenounproject.com/cengizsari" target="_blank">Cengiz SARI</a> from The Noun Project under CC BY 3.0.
        </small>
      </p>
    </div>
  </footer>
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
  {% block extra_footer %}
  {% endblock %}
  <script>
  $('.show-div').click(function(e){
    e.preventDefault();
    $($(this).attr('href')).show();
  });
  </script>
</body>
</html>
